<div class="row">
    <div class="col-xs-3">
    	<table class="table">
    	    <tr><th class="text-center"><%= @user.user_name %></th></tr>
    	    <tr><th class="text-center"><%= attachment_image_tag @user, :image_id, format: 'jpeg', fallback: "noimg.jpg", size: "100x100", class: "img-circle" %></th></tr>
    	    <tr><th class="text-center"><%= @user.introduction %></th></tr>
        </table>

        <div class="row"><%= link_to 'プロフィール編集', edit_user_path(@user.id), class: "col-xs-11 btn-sm btn-success" %></div>
    </div>
</div>