<div class="row">
	<div class="col-10 offset-1">
		<div class="heading">
			<h1 class="heading-text">Follow Users</h1>
		</div>
	</div>

<% if @users.count > 0 %>
	<% @users.each do |user| %>
	    <div class="left_bar col-8 offset-4">
	    	<div class="row">
	    	    <div class="col-3 offset-1">
	    		    <%= attachment_image_tag user, :image, format: 'jpeg', fallback: "noimg.jpg", size: "100x100", class: "rounded-circle" %>
	    	    </div>

	    	    <div class="col-7 offest-1">

	    		    <table class="table table-borderless">
	    			    <tbody>
	    				    <tr>
	    				    	<% if user.account_name.present? %>
	    					        <th><%= link_to user.account_name, user_path(user.id) %></th>
	    					    <% else %>
	    					        <th><%= link_to user.user_name, user_path(user.id) %></th>
	    					    <% end %>
	    				    </tr>
	    				    <tr>
	    					    <td><%= user.introduction %></td>
	    				    </tr>
	    			    </tbody>
	    		    </table>
	    	    </div>
	    	</div>
	    </div>
	<% end %>
<% else %>
    <div class="left_bar col-8 offset-4">
    	フォローしているユーザーはいません
    </div>
<% end %>
</div>