<div class="row">
	<div class="col-10 offset-1 mt-5">
	<% if @post.errors.any? %>
        <div id="error_explanation">
            <h3><%= pluralize(@post.errors.count, "error") %> prohibited this obj from being saved:</h3>

            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </div>
    <% end %>
    </div>
	<%= render 'shared/newform', post: @post %>
</div>